* {
    margin: 0;
    padding: 0;
    font-family: 'Futura', 'Contrail One', Arial, sans-serif;
    font-size: 1em;
}

/*--COLORS--*/
:root {
    --lightBlue: #DAEFEB;
    --blue: #96D3D2;
    --orange: #F79122;
    --pink: #F15D5E;
    --red: #B42525;
    --flatBlack: #1a1a1a;
}
/*--END COLORS--*/


/*--PAGE LAYOUT--*/
html {
    position: relative;
    scroll-behavior: smooth;
    scroll-padding: 5em 0 0 0;
}
body {
    position: relative;
    min-height: calc(100vh - 5em);
    background-color: var(--lightBlue);
    background: radial-gradient(circle, transparent 20%, var(--lightBlue) 20%, var(--lightBlue) 80%, transparent 80%, transparent),
    radial-gradient(circle, transparent 20%, var(--lightBlue) 20%, var(--lightBlue) 80%, transparent 80%, transparent) 32.5px 32.5px,
    linear-gradient(var(--pink) 2.6px, transparent 2.6px) 0 -1.3px,
    linear-gradient(90deg, var(--pink) 2.6px, var(--lightBlue) 2.6px) -1.3px 0;
    background-size: 65px 65px, 65px 65px, 32.5px 32.5px, 32.5px 32.5px;
}
main {
    position: relative;
    top: 5em;
}
/*--END PAGE LAYOUT--*/

/*--General Settings--*/
h1, h2 {
    padding-top: 0.5em;
    color: var(--orange);
}
h1 {
    text-shadow: 1px 1px 0px var(--red), 2px 2px 2px black;
    padding-bottom: .5em;
    font-size: 300%;
    text-align: center;
}
h2 {
    text-shadow: .75px .75px 0px var(--red), 1.5px 1.5px 1.5px black;
    font-size: 175%;
}

/*--NAV SETTINGS--*/
header {
    width: 100%;
    background-color: var(--lightBlue);
    height: 5em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    box-shadow: black 0px 0px 5px;
    transition: box-shadow 1.5s ease-out;
    transition: background-color 1.5s ease-out;
}
#largeNav {
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.navLink {
    position: relative;
    text-decoration: none;
    margin: 0 1em;
    width: 6em;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--pink);
    font-size: 135%;
    text-align: center;
}
.navLink::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 3px;
    left: 0;
    opacity: 0;
    border-bottom: 5px solid var(--pink);
    visibility: hidden;
    transition: all 0.2s ease-in-out 0s;
}
.navLink:hover::before, .navLink.active::before {
    visibility: visible;
    bottom: 0px;
    opacity: 100%;
}
#navLogo {
    width: 4em;
    height: 4em;
    margin: 0 2em;
}
#navLogo a {
    width: 100%;
    height: 100%;
}
#navLogo img {
    width: 100%;   
}

/*Mobile Navigation*/
#mobileNavHeader {
    display: none;
    background-color: transparent;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
#mobileNavHeader>a {
    width: 5em;
    height: 5em;
}
#mobileNavHeader img {
    padding: 1em;
    height: 3em;
    width: auto;
    align-self: start;
}
#hamburger {
    padding: .95em 1.7em;
    z-index: 15;
    transform: scale(1.35);
    cursor: pointer;
    justify-self: end;
    align-self: center;
}
#hamburger hr {
    width: 1.5em;
    height: .2em;
    margin: 0.3em 0;
    border: none;
    transform-origin: 3%;
    transition: all 0.5s ease 0s;
    background-color: var(--blue);
}
#mobileNavPage {
    position: fixed;
    top: 5em;
    right: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    height: calc(100% - 5em);
    width: 100%;
    opacity: 0%;
    visibility: hidden;
    z-index: 10;
    background-color: var(--lightBlue);
    transition: opacity 0.5s ease 0s;
}
#mobileNavPage ul {
    position: relative;
    top: -2.5em;
    list-style: none;
    text-align: center;
}
.mobileNavLink {
    width: 100%;
    height: 100%;
    padding: 0.5em;
    text-align: center;
    font-size: 200%;
    color: var(--pink);
    text-decoration: none;
}
.mobileNavLink::after {
    content: "";
    position: absolute;
    width:0;
    padding-bottom: .25em;
    margin: 0 12.5%;
    border-bottom: 5px solid var(--pink);
    left: 0;
    display: block;
    transition: width .3s ease;
}
.mobileNavLink:hover::after {
    width: 75%;
}
.mobileNavLink.active::after {
    width: 75%;
}
#mobileNavPage li {
    padding: 1.25em 0;
}

/*--FOOTER SETTINGS--*/
footer {
    background-color: transparent;
    color: var(--flatBlack);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    width: 100%;
    font-size: 85%;
}

/*--HOME PAGE--*/
.JSBody::-webkit-scrollbar {
    display: none;
}
.JSBody {
    -ms-overflow-style: none;
    scrollbar-width: none;
    touch-action: none;
}
#slideControls {
    position: fixed;
    right: 0;
    top: 5em;
    height: calc(100% - 8em);
    z-index: 5;
    margin-right: .5em;
    display: none;
    align-content: center;
}
.control {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 0.5em;
    text-align: center;
    display: grid;
    align-items: center;
    border: var(--pink) solid 4px;
    background-color: var(--lightBlue);
    transition: background-color .3s ease;
    cursor: pointer;
    box-shadow: 2px 2px 2px var(--flatBlack);
}
.control:first-child {
    background-color: var(--pink);
}
.control:hover {
    background-color: var(--pink) !important;
}
#slideControls a {
    font-size: 100%;
    font-weight: bold;
    color: var(--pink);
}
#home .ad {
    position: relative;
    height: calc(100vh - 5em);
    padding: 0 5%;
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-template-rows: calc(100% - 3em);
    grid-column-gap: 5%;
    justify-items: center;
    align-items: center;
}
.arrow {
    padding: 1em;
    font-size: 200%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    text-decoration: none;
    color: var(--flatBlack);
}
.arrow.up {
    top: 0;
}
@keyframes arrowUp {
    0% {top:0;}
    66% {top: 0.5em;}
    85% {top: -0.25em;}
    100% {top:0;}
}
.arrow.up:hover {
    animation-name: arrowUp;
    animation-duration: 0.3s;
    animation-delay: 0.5s;
}
.arrow.down {
    bottom: 0;
}
@keyframes arrowDown {
    0% {bottom:0;}
    66% {bottom: 0.5em;}
    85% {bottom: -0.25em;}
    100% {bottom:0;}
}
.arrow.down:hover {
    animation-name: arrowDown;
    animation-duration: 0.3s;
    animation-delay: 0.5s;
}
#home h1 {
    font-size: 500%;
    color: var(--orange);
    text-shadow: 4px 4px 0px var(--red), 4px 4px 6px var(--flatBlack);
    position: relative;
    top: -0.2em;
    text-align: center;
}
.button {
    position: relative;
    border: none;
    font-size: 150%;
    font-weight: bold;
    border-radius: .5em;
    padding: 0.75em;
    text-decoration: none;
    box-shadow: 2px 2px 5px black;
    border: var(--blue) solid 6px;
    text-transform: uppercase;
    color: var(--pink);
    background-color: var(--lightBlue);
    transform: scale(1);
    transition: all .3s ease 0s;
}
.button:hover {
    transform: scale(1.1);
    box-shadow: 6px 6px 10px var(--flatBlack);
}
.button > i {
    position: relative;
    left: -.1em;
    transition: left .3s ease 0s;
}
.button:hover > i {
    left: 0.25em;
}
#watchAd {
    background-color: var(--lightBlue);
    background-image: repeating-linear-gradient(45deg, var(--blue), var(--blue) 5%, transparent 5%, transparent 10%, var(--orange) 10%, var(--orange) 15%, transparent 15%, transparent 20%, var(--blue) 20%);
}
#watchAd img {
    width: 100%;
    height: auto;
    background-color: var(--lightBlue);
    border-radius: 50%;
    box-shadow: 0px 0px 5px var(--lightBlue), 2px 2px 7px var(--flatBlack);
}
#projectsAd {
    height: calc(100vh - 9em);
    background-color: #daefeb;
    background-image: repeating-radial-gradient( circle at -10em 50em, var(--orange), var(--orange) 2.5%, transparent 2.5%, transparent 5%, var(--pink) 5%, var(--pink) 7.5%);
}
#projectsAd h1 {
    color: var(--blue);
}
#projectsAd footer {
    position: absolute;
    bottom: 0;
}

/*--ABOUT AND PROJECT PAGE SHARED SETTINGS--*/
#aboutDesc, #projectDesc {
    width: calc(100% - 4em);
    padding: 0 2em 2em;
    margin-bottom: 2em;
    background-color: var(--blue);
    border-radius: 1em;
    color: var(--flatBlack);
    box-shadow: 2px 2px 8px black;
    overflow: hidden;
    position: relative;
}
#aboutDesc p, #projectDesc p {
    font-size: 125%;
}
/*--ABOUT PAGE SETTINGS--*/
#aboutHtmlElement {
    scroll-padding: 6em 0 0 0;
}
#about {
    padding: 2em 5% 0;
    background-color: var(--lightBlue);
    background: radial-gradient(circle, transparent 20%, var(--lightBlue) 20%, var(--lightBlue) 80%, transparent 80%, transparent),
    radial-gradient(circle, transparent 20%, var(--lightBlue) 20%, var(--lightBlue) 80%, transparent 80%, transparent) 32.5px 32.5px,
    linear-gradient(var(--pink) 2.6px, transparent 2.6px) 0 -1.3px,
    linear-gradient(90deg, var(--pink) 2.6px, var(--lightBlue) 2.6px) -1.3px 0;
    background-size: 65px 65px, 65px 65px, 32.5px 32.5px, 32.5px 32.5px;
}
#peopleWrapper {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 49% 49%;
    grid-column-gap: 2%;
    grid-row-gap: 2em;
}

#about img {
    height: 13.5em;
    width: auto;
}
#about a {
    color: var(--flatBlack);
}
.people {
    width: 100%;
    min-height: 13.5em;
    background-color: var(--blue);
    border-radius: 1em;
    color: var(--flatBlack);
    box-shadow: 2px 2px 8px black;
    display: flex;
    overflow: hidden;
    position: relative;
}
.peopleInfo {
    margin: 0 1em 3.5em;
}
.socials {
    position: absolute;
    bottom: 1em;
}
.socials a {
    color: black;
    text-decoration: none;
    font-size: 150%;
}

/*--PROJECT PAGE SETTINGS--*/
#projectHtmlElement {
    scroll-padding: 6em 0 0 0;
}
#project {
    padding: 2em 5% 0;
}
#project>section {
    width: 100%;
    min-height: 10em;
    margin: 2em 0;
    background-color: var(--blue);
    border-radius: 1em;
}
#project img {
    height: 100%;
    width: auto;
    background-color: var(--flatBlack);
}
#project a {
    color: var(--flatBlack);
}
.projects, .noProjects {
    display: flex;
    overflow: hidden;
    box-shadow: 2px 2px 8px black;
}
.projectInfo, .noProjectsInfo {
    padding: 0 1em 1.5em;
}
.noProjects {
    display: none;
}
.noProjectsInfo {
    text-align: center;
}


/*--WATCH PAGE SETTINGS--*/
#watch {
    height: calc(100vh - 5em);
    padding: 0 5%;
    position: relative;
    background-color: transparent;
    transition: background-color 1.5s ease-out;
}
#container {
    position: absolute;
    top: calc(50% - 2em);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1100px;
}

#playerWrapper {
    position: relative;
    height:0;
    width: 100%;
    padding-bottom: 56.25%;
}
#player {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 1em;
    transition: border-radius 1.5s ease-out;
}
#dateMessage {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 1em;
    background-color: var(--lightBlue);
    border: 5px solid var(--blue);
}
#dateMessage p {
    font-size: 110%;
    text-align: center;
}
#dateMessage p:first-of-type {
    font-size: 150%;
}
#playerWrapper a {
    color: var(--flatBlack);
    display: grid;
    justify-content: center;
    font-size: 125%;
}
#watch footer {
    position: absolute;
    bottom: 0;
    left: 0;
}


/*--MEDIA QUERIES--*/
/* > 1024/1280
< 1024/1280 && > 640
< 640 && > 360*/

@media screen and (max-width:640px) {
    #largeNav {
        display: none;
    }
    #mobileNavHeader, #mobileNavPage {
        display: grid;
    }
    #home .ad{
        align-content: center;
        grid-template-columns: 100%;
        grid-template-rows: 60% 15%;
        grid-column-gap: 0;
        grid-row-gap: 5%;
    }
    .arrow {
        display: none;
    }
    #watchAd img {
        max-width: 17em;
        width: 100%;
        height: auto;
        align-self: center;
    }
    #home .button {
        align-self: start;
        font-size: 100%;
    }
    #home h1 {
        font-size: 300%;
    }
    #peopleWrapper{
        grid-template-columns: 100%;
    }
    #about img {
        display: none;
    }
    #project img {
        display: none;
    }
}

@media screen and (min-width:641px) and (max-width:1280px) {
    #largeNav {
        display: none;
    }
    #mobileNavHeader, #mobileNavPage {
        display: grid;
    }
    #home .ad{
        align-content: center;
        grid-template-columns: 100%;
        grid-template-rows: 60% 15%;
        grid-column-gap: 0;
        grid-row-gap: 5%;
    }
    #watchAd img {
        width: auto;
        height: 100%;
        align-self: flex-end;
    }
    #home .button {
        align-self: start;
    }
    #peopleWrapper{
        grid-template-columns: 100%;
    }
}

@media screen and (min-width:1281px) {
    
}
@media screen and (max-height:740px) {
    .arrow {
        display: none;
    }
}